body {
  font-family: sans-serif;
  background-image: url('./assets/images/background.png') !important;
  background-size: cover;
  text-align: center;
  user-select: none; /* prevents text from being high-lighted   */
}

.dog {
  position: absolute; /* so he can move */
  width: 150px;
  height: 150px;
}

.img-dogs {
  width: 100%;
}

.img-dogs:hover {
  cursor: crosshair;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: rgb(0, 247, 255);
}
